#Node Modules
node_modules

#Fichero de Salida de archivos de scrapeo
output/

#Fichero de urls iniciales para el scrapeo
# Se recomienda no incluir este fichero en el repositorio, ya que el programa lo generará automáticamente
# y contendrá las urls de lla url principal scrapeada.
urls.txt